.navbar-default {
	background-color: #232323;
	background-image: none;
	border-color: #232323;
}

#nav-custom {
	background-color: #232323;
	border-color: #ffbbee;
	border-width: 1px;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,187,238, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-nav {
	margin-left: 2%;
}

#momoNavbar, #momoNavbar .dropdown-menu, #momoNavbar .dropdown-item {
	background-color: #232323;
	background-image: none;
}
#momoNavbar li>a {
	text-shadow: 1px 1px 0 #000000, -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000;
}
#momoNavbar .nav-link:hover {
	color: #ffbbee !important;
}
#momoNavbar .dropdown-item:hover {
	color: #ffbbee !important;
	background-color: #323232;
	background-image: none;
}
#momoNavtab .nav-link {
	border-color: #986db2;
}

.dropdown-toggle::after {
	margin-left: 0.5em;
	vertical-align: 0em;
}
@media (min-width: 992px) {
	.dropdown-menu .dropdown-toggle:after {
		border-top: .3em solid transparent;
		border-right: 0;
		border-bottom: .3em solid transparent;
		border-left: .3em solid;
	}
}

.dropdown-menu {
	border-color: #232323;
}
.submenu {
	position: relative;
	top: 0;
	left: 100%;
}

.navbar-brand img {
	width: 55px;
	height: 55px;
}