.momo-bk-color-black {
	background-color: #000000;
	color: #000000;
}

.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('../../../image/general/loader.gif') 50% 50% no-repeat #000000;
	opacity: .9;
}

a, a:link, a:visited, a:hover {
	text-decoration: none;
}

.btn-outline-momo {
	color: #ffbbee;
	border-color: #ffbbee;
	font-weight: bolder;
}
.btn-outline-momo:hover {
	color: #ffffff;
	background-color: #ffbbee;
}
.btn-outline-momo-color {
	color: #986db2;
	border-color: #986db2;
	font-weight: bolder;
}
.btn-outline-momo-color:hover {
	color: #ffffff;
	background-color: #000000;
}

.momo-weight {
	color: #ffffff;
	text-shadow: 2px 2px 0 #000000, -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000;
	font-family: "Noto Sans TC", sans-serif;
}
.momo-weight-color {
	color: #986db2;
	text-shadow: 1px 1px 0 #ffffff, -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff;
	font-family: "Noto Sans TC", sans-serif;
}
.momo-underline {
	background:
		linear-gradient(to right, rgba(0,0,0,0) 0%, #ffbbee 30%, rgba(0,0,0,0) 60%)
		left
		bottom
		no-repeat;
	background-size: 98% 2px;
}
.momo-momotan {
	width: 100px;
}

.anime-none {
	display: none;
}

.card-title {
	color: #ffbbee;
}

.momo-font-family {
	font-family: "Wendy One", "Reggae One", cursive, "Noto Sans TC", sans-serif;
	font-size: 1.4rem;
}